{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="height:89%;">
    <div class="row" style="height: 100%;">
        <div class="col-3 dash-area" style="background-color:#36454F;">
            <div class="row h-25">
                <div class="col-12 border d-flex justify-content-center align-items-center">
                    <h4> Welcome back, {{ user }}! </h4>
                </div>
            </div>
            <div class="row h-50 border">
                <div class="col-12">

                </div>
            </div>
            <div class="row h-25">
                <div class="col-12">

                </div>
            </div>
        </div>
        <div class="col-9">
            dsagfsd
        </div>
    </div>
</div>
{% endblock %}