{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="background-color:#F88379; height:89%;">
    <div class="row" style="height:10%;">
        <div class="col-12">
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden=true>&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row" style="height:90%;">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <!-- Form in centre of page -->
            <div class="w-25" style=" border: 1px solid grey; border-radius:10px; background-color:white;">
                <div class="d-block" style="margin-bottom:1rem; background-color:white;">
                    <p>
                    <h3 style="padding-bottom:10px; margin: 1rem;">Log In</h3>
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <form action='' method="POST" class="w-75" style="margin: 1rem;">
                        {{  form.hidden_tag() }}
                        <div class="form-group" style="margin:1rem;">
                            {{  form.email.label }}
                            {{  form.email(class_="form-control") }}
                        </div>
                        <div class="form-group" style="margin:1rem;">
                            {{  form.password.label }}
                            {{  form.password(class_="form-control") }}
                        </div>
                        <div class="form-check" style="margin:1rem;">
                            {{  form.remember(class_="form-check-input", style_="margin-right:1rem;") }} {{  form.remember.label(class_="form-check-label") }}
                        </div>
                        <div class="align-items-center" style="margin:1rem; margin-top:2rem;">
                            {{  form.submit(class_="btn btn-primary") }}
                        </div>
                    </form>
                </div>
                <span style="padding-bottom:4px; margin-left:8px; font-weight: bold;">
                    New User? <a href="/register">Register Here</a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}